<div class="container">
  
  <div class="card profile-customer">
    <button class="logout" (click)="logout()">Log Out</button>
    <p class="card__name">e-wallet</p>
    <img
      src="https://media.hitekno.com/thumbs/2022/03/02/23615-ilustrasi-e-wallet/730x480-img-23615-ilustrasi-e-wallet.jpg"
      alt="Person"
      class="card__image"
    />
    <p class="card__name">{{ customerName }}</p>

    <p>No. Account:</p>
    <p class="text-center">{{ customerIdStorages }}</p>
    <p>Balance : Rp{{ balance }}</p>


    <button class="btn draw-border" routerLink="/topup">Top Up</button>
    <button class="btn draw-border">Transfer</button>
  
  </div>
</div>
