<h2 class="text-center">e-Wallet</h2>
<div class="container">
  <div class="wallet_outer">
    <div class="leftshade"></div>
    <div class="leftshadecover"></div>
    <div class="rightshade"></div>
    <div class="rightshadecover"></div>
    <div class="cover"></div>
    <div class="cover2"></div>
    <div class="cover3"></div>
    <div class="cash_behind"></div>
    <div class="cash_behind_left"></div>
    <div class="cash_behind_cover"></div>
    <div class="cash_front"></div>
    <div class="cash_front_left"></div>
    <div class="cash_front_right"></div>
    <div class="cash_front_cover"></div>
    <div class="buckledropshade"></div>
    <div class="buckle">
      <div class="buckleshade"></div>
      <div class="buckleshadecover"></div>
      <div class="clip"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button class="btn"><a routerLink="/regist">Sign Up</a></button>
    </div>
    <div class="col">
      <button class="btn"><a routerLink="/login">Sign In</a></button>
    </div>
  </div>
</div>
